.responsive {
    display: none;
}

 
nav img {
    width: 3rem;
  }

  
nav img:hover {
    content: url(img/logo\ rosa\ claro@144x-8.png);
    width: 3rem;
    
  }
  

.navegacion {
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 3;
    background-color: #1d1d1f;
}

.navegacion:hover {
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 3;
    background-color: #1d1d1f;

}



.links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    margin: 0;
}


.links .opciones {
    padding: 0 2rem;
}


.links .home {
    margin-right: auto;
    font-size: 1.5rem;
}

.opciones a {
    color: #f5f5f7;
    text-decoration: none;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 16px;
    

}

.iconos{
    padding-left: 8px;
    padding-right: 12px;
    color:#f5f5f7;
}

.iconos:hover svg {
    fill:#EB10DC;
}
  
.menu-icons {
    display: flex;
    order: 2;
    color:#f5f5f7;
  }

.menu-icons svg {
    fill:#EB10DC;
}

  
.opciones, a:hover {
    color: #EB10DC;
    
}

body {
background-image: url(img/fondo\ inflado.jpg);
background-repeat: no-repeat;
background-color: #1d1d1f;
background-size: cover;
display: flex;

    

}

.one {
    height: calc(100vh);
    
    display: flex;
    justify-content: start;
    align-items:start;
    padding-left: 4rem;

}

.one__title {
    width: 60%;
    text-align: start;
    position: absolute;
    top: 30%;
}

.circle {
   
        width: 310px;
        height: 310px;
        border-radius: 50%;
        background-color: #1d1d1f;
        position: absolute;
        top: 50%;
        right: 8%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all .3s ease;
      
}

@media (max-width: 1024px) {
    .circle {
      display: none;
    }
  }
  

 

  .two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
    margin-top: 95vh;
    
    
}

.two__title {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 36px;
    color: #f5f5f7;
    padding-bottom: 1%;

}

.two__title img{
    padding: 10px;
    padding-block-end: 100px;
    
    

}

.two__title img[src="img/icons8-figma-100.png"] {
    width: 80px;
    
    
  }
  
  .two__title img[src="img/icons8-adobe-photoshop-100.png"] {
    width: 90px;

  }
  .two__title img[src="img/icons8-adobe-illustrator-100.png"] {
    width: 90px;

  }
  .two__title img[src="img/icons8-javascript-100.png"] {
    width: 80px;
    

  }
  .two__title img[src="img/icons8-html-5-100.png"] {
    width: 90px;
    

  }
  .two__title img[src="img/icons8-css3-100.png"] {
    width: 90px;
    

  }
  .two__title img[src="img/icons8-bootstrap-a-free-and-open-source-css-framework-100.png"] {
    width: 70px;
    

}

@media screen and (max-width:765px) {
  .navegacion {
      display: none;
  }

  .responsive {
      display: block;
      color: #f5f5f7;
  }

  .bg {
      background-color: #1d1d1f;
  }


   .navbar-toggler {
      color: #f5f5f7;
      
  }
  
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30px;
  background-color: #1d1d1f;
  margin-bottom: 8px;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}

footer.hidden {
  transform: translateY(0%);
}

footer div img {
  margin-right: 10px;
  margin-bottom: 2px;
  width: 80px;
  
}

footer .derechos{
  background-color: #1d1d1f;
  padding-top: 8px;
  text-align: center;
  color: #f5f5f7;
}

footer .derechos small{
  font-family: 'Montserrat Light', sans-serif;
  font-size: 12px;
  color: #f5f5f7;
}


